
.slider-caption {
  top: 15%;
  left: 20%;
  text-align: start;
  color: black;
}
.slider-caption h1 {
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 15px;
  line-height: 60px;
}
.slider-caption p {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  font-style: normal;
  margin-bottom: 30px;
}
.btn-one {
  background-color: #18BA60;
  padding: 15px 30px;
  color: #fff;
  font-weight: 500;
  margin-right: 15px;
  transition: ease-in-out 0.3ms;
}
.btn-two {
  background-color: #454C50;
  padding: 15px 30px;
  color: #fff;
  font-weight: 500;
  transition: ease-in 0.3ms;
}
.btn-two:hover{
  background-color: #18BA60;
  color: #fff;
}
/* responsive area */





/* Wide Mobile Layout: 480px. */
@media only screen and (max-width: 480px) {
  .slider-caption h1 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 25px;
}
.slider-caption p {
  display: none;
}
.btn-one {
  padding: 5px 10px;
 margin-bottom: 5px;
}
.btn-two {
  padding: 5px 10px;
 margin-bottom: 5px;
}
}
/*  */
@media only screen and (max-width: 767px){
  
  .slider-caption h1 {
    font-size: 25px;
    margin-bottom: 10px;
    line-height: 25px;
}
.slider-caption p {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  font-style: normal;
  margin-bottom: 5px;
}
.btn-one {
  padding: 5px 10px;
 margin-bottom: 5px;
}
.btn-two {
  padding: 5px 10px;
 margin-bottom: 5px;
}
}
@media only screen and (min-width: 992px){
  .slider-caption h1 {
    font-size: 35px;
    margin-bottom: 10px;
    line-height: 40px;
}

}